<template>
    <div class="container" >
        <h1 class="text-center">EMPLOYEES LIST </h1>
        <table class="table table-striped">
            <thead>
                <th>Employ ID</th>
                <th>Employ First Name</th>
                <th>Employ Last Name </th>
                <th>Email</th>
            </thead>
            <tbody>
                <tr v-for = "employee in employees" v-bind:key ="employee.id">
                    <td>{{employee.id}}</td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.email}}</td>
                </tr>
            </tbody>
        </table>

    </div>


</template>

<script>
import EmployeeService from '@/services/EmployeeService'
import { response } from 'express'
export default{
    name: 'Employees',
    data(){
        employees = []
    },
    methods:{
        getEmployees(){
            EmployeeService.getEmployees().then((response) =>{
                this.employees = response.data;

            });
        }

    },
    created:{
        this.getEmployees();

    }

}


</script>

<style >


</style>